<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="88d8b8">  <td>24/05/04 23:16:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.yourstore.tests.LoginTest@4351c8c3]">login</td> 
  <td>main@1531200408</td>   <td></td> </tr>
<tr bgcolor="88d8b8">  <td>24/05/04 23:17:02</td>   <td>5290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.yourstore.tests.LoginTest@4351c8c3]">login</td> 
  <td>main@1531200408</td>   <td></td> </tr>
<tr bgcolor="88d8b8">  <td>24/05/04 23:16:52</td>   <td>-4165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.openApplication()[pri:0, instance:com.yourstore.tests.LoginTest@4351c8c3]">&gt;&gt;openApplication</td> 
<td>&nbsp;</td>  <td>main@1531200408</td>   <td></td> </tr>
<tr bgcolor="88d8b8">  <td>24/05/04 23:16:59</td>   <td>1894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.openApplication()[pri:0, instance:com.yourstore.tests.LoginTest@4351c8c3]">&gt;&gt;openApplication</td> 
<td>&nbsp;</td>  <td>main@1531200408</td>   <td></td> </tr>
<tr bgcolor="88d8b8">  <td>24/05/04 23:16:58</td>   <td>1733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.tearDown()[pri:0, instance:com.yourstore.tests.LoginTest@4351c8c3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1531200408</td>   <td></td> </tr>
<tr bgcolor="88d8b8">  <td>24/05/04 23:17:13</td>   <td>16749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.tearDown()[pri:0, instance:com.yourstore.tests.LoginTest@4351c8c3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1531200408</td>   <td></td> </tr>
</table>
