<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a56767">  <td>24/05/08 09:53:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.yourstore.tests.LoginTest@3a4b0e5d]">login</td> 
  <td>main@1086323658</td>   <td></td> </tr>
<tr bgcolor="a56767">  <td>24/05/08 09:53:51</td>   <td>4958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.yourstore.tests.LoginTest@3a4b0e5d]">login</td> 
  <td>main@1086323658</td>   <td></td> </tr>
<tr bgcolor="a56767">  <td>24/05/08 09:53:35</td>   <td>-11464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.openApplication()[pri:0, instance:com.yourstore.tests.LoginTest@3a4b0e5d]">&gt;&gt;openApplication</td> 
<td>&nbsp;</td>  <td>main@1086323658</td>   <td></td> </tr>
<tr bgcolor="a56767">  <td>24/05/08 09:53:48</td>   <td>1823</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.openApplication()[pri:0, instance:com.yourstore.tests.LoginTest@3a4b0e5d]">&gt;&gt;openApplication</td> 
<td>&nbsp;</td>  <td>main@1086323658</td>   <td></td> </tr>
<tr bgcolor="a56767">  <td>24/05/08 09:53:48</td>   <td>1713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.tearDown()[pri:0, instance:com.yourstore.tests.LoginTest@3a4b0e5d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1086323658</td>   <td></td> </tr>
<tr bgcolor="a56767">  <td>24/05/08 09:54:09</td>   <td>22000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.tearDown()[pri:0, instance:com.yourstore.tests.LoginTest@3a4b0e5d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1086323658</td>   <td></td> </tr>
</table>
